<div class="container">
    <div class="form-group">
        <label for="username">Enter the Github Username</label><br>
        <input type="text" name="githun" placeholder="Please Enter the Github Username here"[(ngModel)]="userName"><br>
        <button type="submit" class="btn btn-success" (click)="SearchName()">Search User</button>
    </div>
    
    <div class="text-center">
        <blockquote>
            <ul>
                <p><strong>
                    {{userclass.username}}
                </strong></p>
                <img src="{{userclass.avatar_url}}">

                <footer>
                    <div class="row">
                        <div class="col-md-6"><br>
                            <h4><u>Followers:</u>{{userclass.followers}}</h4><br><br>
                            <h4><u>Following:</u>{{userclass.following}}</h4><br><br>
                            <h4><u>Repository:</u>{{userclass.repo}}</h4><br><br>
                        </div>
                        <table class="table">
                            <tbody>
                              <tr *ngFor='let repos of repo'>
                                <td>
                                  <a href="{{repos.repo_url}}" target="_blank" >{{repos.name}}</a><br>
                                    <p class="desc">Description: {{repos.description}}</p><br>
                                </td>
                              </tr>
                              </tbody>
                          </table>
                    </div>
                </footer>
            </ul>
        </blockquote>
    </div>
</div>