
.btn{
    background-color: darkred;
    color: white;
}

.gitform{
    background-color: black;
    color: white;
}

.gitresult{
    background-color: darkred;
    color: white;
}
.lesspart{
    float: left;
}

.morep{
    float: left;
}

.listrepo{
   float: right;
}