<div class="container text-center">
    
    <div class="form-group">
        <br>
        <label for="username">Enter the Github Username</label><br>
        <input type="text" name="githun" placeholder="Please Enter the Github Username here"[(ngModel)]="githubusername"><br><br>
        <button type="submit" class="btn btn-success" (click)="SearchName()">Search User</button>
    </div>
    
    <div class="text-center">
        <blockquote>
            <ul>
                <p><strong>
                    {{userclass.username}}
                </strong></p>
                <img src="{{userclass.avatar_url}}">

                <footer>
                    <div class="row">
                        <div class="col-md-6"><br>
                            <div class="text-center">
                                <h4><u>Followers:</u>{{userclass.followers}}</h4><br><br>
                                <h4><u>Following:</u>{{userclass.following}}</h4><br><br>
                                <h4><u>Number of Repository:</u>{{userclass.public_repos}}</h4><br><br>
                            </div>    
                        </div>

                        <div>
                            <h4><strong>List of Public Repositories</strong> </h4>
                            <table class="table">
                                <tbody>
                                  <tr *ngFor="let reposi of repo">
                                    <td>
                                      <a href="{{reposi.html_url}}" target="_blank">{{reposi.name}}</a><br>
                                      <p>Description: {{reposi.description}}</p><br>
                                    </td>
                                  </tr>
                                  </tbody>
                              </table>
                        </div>
                    </div>
                </footer>
            </ul>
        </blockquote>
    </div>
</div>